body {
  background: #FFFFFF;
  padding: 0 24px;
  color: #000000;
  margin: 0;
  height: 100vh;
  text-align: center;
div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 60px;
  border: 1px solid black;
}
div.a {
  text-align: center;
}
div.b {
  text-align: left;
}

img {
  width: 25%;
  height: 25%;

}




